@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBoldItalic';
    src: url('../fonts/OpenSans/OpenSans-ExtraboldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSans/OpenSansLight-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/OpenSans/OpenSans-Extrabold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBoldItalic';
    src: url('../fonts/OpenSans/OpenSans-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


